ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/matritsy_lektsiya.docx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/matritsy_i_deystviya_nad_nimi.pptx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/PR_deystviya_s_matritsami.doc
ОП.02 Операционные системы и сети (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 1 ОСиС.docx
ОП.04 Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Evolyuciya-Vychislitelnoj-Tehniki-Ot-Lamp-k-Integralnym-Shemam-5.pptx
ОП.04 Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Задание 1.docx
ОП.06 Основы алгоритмизации и программирования (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/ЛЕКЦИЯ 1 ПГ.docx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164739.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164755.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164805.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164813.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/ПрактРаб1_ориг.pdf
История Россия (НЕМКОВ ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/Об истории государственной символики России.docx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/20260905_164739.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/20260905_164755.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/20260905_164805.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/20260905_164813.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/matritsy_i_deystviya_nad_nimi.pptx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/matritsy_lektsiya.docx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/PR_deystviya_s_matritsami.doc
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/ДЗ_матрицы.png
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/(ЗАГРУЗИЛ) ПрактРабота1/ПрактРаб1_ориг.pdf
ОП.02 ОСиС Операционные системы и сети (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/Лекция 1 ОСиС-2.docx
ОП.02 ОСиС Операционные системы и сети (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/Лекция 1 ОСиС.docx
ОП.02 ОСиС Операционные системы и сети (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/Лекция 1 Ответы_Антон .docx
ОП.02 ОСиС Операционные системы и сети (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 2/ЛЕКЦИЯ 2 Формы представления алгоритмов.docx
ОП.04 ИТвПФ Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/Evolyuciya-Vychislitelnoj-Tehniki-Ot-Lamp-k-Integralnym-Shemam-5.pptx
ОП.04 ИТвПФ Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/Задание 1.docx
ОП.04 ИТвПФ Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/Задание №1_Антон.docx
ОП.04 ИТвПФ Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 2/1.pdf
ОП.04 ИТвПФ Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 2/2.pdf
ОП.04 ИТвПФ Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 2/3.pdf
ОП.04 ИТвПФ Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 2/IMG_2018.jpg
ОП.06 ОАиП Основы алгоритмизации и программирования (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/(ЗАГРУЗИЛ) Лекция 1/ЛЕКЦИЯ 1 ПГ.docx
ОП.06 ОАиП Основы алгоритмизации и программирования (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 2/ПР2.docx
ОП.09 Основы работы с информацией (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 1/Лекция 1.docx
СГЦ.02 Английский (АРДАЛИН В Я)/(ЗАГРУЗИЛ) Лекция 1/Education.pdf
История Россия (НЕМКОВ ОЛЬГА АЛЕКСЕЕВНА)/Лекция 2/Лекция 2 Александр Невский как спаситель Руси.pdf
