ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/matritsy_lektsiya.docx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/matritsy_i_deystviya_nad_nimi.pptx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/PR_deystviya_s_matritsami.doc
ОП.02 Операционные системы и сети (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Лекция 1 ОСиС.docx
ОП.04 Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Evolyuciya-Vychislitelnoj-Tehniki-Ot-Lamp-k-Integralnym-Shemam-5.pptx
ОП.04 Инфо технологии в проф деятельности (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/Задание 1.docx
ОП.06 Основы алгоритмизации и программирования (НЕМКОВА ОЛЬГА АЛЕКСЕЕВНА)/ЛЕКЦИЯ 1 ПГ.docx
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164739.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164755.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164805.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/20260905_164813.jpg
ОП.01 Матаппарат в отрасли (ЛАЗАРЕВА НАТАЛЬЯ ВАЛЕНТИНОВНА)/ПрактРабота1/ПрактРаб1_ориг.pdf
